<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            New User
        </h3>
    </div>
    <div class="panel-body">
        Register new User
    </div>
    <div class="container">
        <div class="row">
            <form role="form">
                <div class="col-lg-6">
                    <div class="well well-sm">
                        <strong>
                            <span class="glyphicon glyphicon-asterisk">
                            </span>
                            Required Field
                        </strong>
                    </div>
                    <div class="form-group">
                        <label for="name">
                            Enter Name
                        </label>
                        <div class="input-group">
                            <input class="form-control" id="name" ng-model="newUser.name" placeholder="Enter Name" required="" type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk">
                                    </span>
                                </span>
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="surname">
                            Enter Surname
                        </label>
                        <div class="input-group">
                            <input class="form-control" id="surname" ng-model="newUser.surname" placeholder="Enter Surname" required="" type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk">
                                    </span>
                                </span>
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Enter Email
                        </label>
                        <div class="input-group">
                            <input class="form-control" id="email" ng-model="newUser.email" placeholder="Enter Email" required="" type="email">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk">
                                    </span>
                                </span>
                            </input>
                        </div>
                    </div>
                    <input class="btn btn-info pull-right" id="submit" ng-click="newUser.createUser();" type="submit" value="Submit">
                    </input>
                </div>
            </form>
            <div class="col-lg-5 col-md-push-1">
                <div class="col-md-12">
                    <div class="alert alert-info" ng-if="newUser.confirmationPending">
                        <strong>
                            <span class="glyphicon glyphicon-ok">
                            </span>
                            Please complete with your information!
                        </strong>
                    </div>
                    <div class="alert alert-success" ng-if="newUser.confirmationOK">
                        <strong>
                            <span class="glyphicon glyphicon-ok">
                            </span>
                            New User created with success!
                        </strong>
                    </div>
                    <div class="alert alert-danger" ng-if="newUser.confirmationError">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                        <strong>
                            Error! Please complete all fields!
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
